

h2 {
  @apply bg-[#080808] font-extrabold uppercase text-2xl text-white p-2 text-center;
}

h3 {
  @apply font-normal uppercase text-sm text-white p-2 text-center;
}

/* styles.css */

.expand {
  height: auto;
  max-height: screen; /* Arbitrary large value to allow for smooth transition */
  transition: max-height 0.3s ease-in;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.hidden {
  display: none;
}