.game-box {
  border:rgb(52, 52, 52) 1px solid;
  padding:16px;
  text-align: center;
  width:calc(100vw/3 - 32px);
  height:calc(100vh/2 - 32px);
}

.game-box img {
  max-width: 100%;
  height: auto;
}

.game-box .img-box {
  height:50%;
  width:100%;
  background-color:rgb(52, 52, 52);
  background-size: cover;
  background-position: center;
}

.game-box h3 {
  margin-top: 8px;
}

.game-box p {
  margin-top: 4px;
  font-size: 12px;
  overflow-y:auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(52, 52, 52) rgb(52, 52, 52);
}

.container {
  padding: 20px;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

